* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 7%;
    height: 7%;
}
.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.admin_image {
    width: 100%;           /* Set the width of the image */
    height: 100px;          /* Set the height of the image */
    object-fit: contain;    /* Ensure the image fits within its container */
    margin-right: 20px;     /* Add space between the image and the text */
}